:root {
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding: 1vw;
  padding-top: 0%;
  width: 30vw;
  border: 1px solid black;
  text-align: center;
  border-radius: 5%;
}
#books {
  padding: 0%;
  list-style: none;
  border: 2px solid black;
}
#books li {
  text-align: left;
  align-items: center;
  height: max-content;
  padding: 5px;
  transition: 0.5s;
}
#books li:hover {
  transition: 0.5s;
  background-color: #e1e1e1;
}
#books li p {
  display: inline;
  margin-left: 2vw;
  font-size: 1.1vw;
  transition: 0.3s;
  font-family: 'Roboto', sans-serif;
}
#books li p:hover {
  font-size: 1.2vw;
  transition: 0.3s;
}
button {
  height: max-content;
  width: fit-content;
  float: right;
  background-color: white;
  margin-right: 2vw;
  font-size: 1vw;
  transition: 0.5s;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
.input {
  width: max-content;
  margin: auto;
  padding: 0%;
}
#title {
  margin-bottom: 0.5vw;
  width: 15vw;
  height: 1.1vw;
  font-size: 1vw;
}
#author {
  margin-bottom: 0.5vw;
  width: 15vw;
  height: 1.1vw;
  font-size: 1vw;
}
h2 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Roboto', sans-serif;
}
